title{
	text-shadow: 2px 2px 2px #CCCCCC;
	text-align: center;
	color: #fffec8;
}

h1 {
	text-align: center;
	text-shadow: 2px 2px 2px #CCCCCC;
	line-height: 1.0;
	color: #a295ff;
	font-size: 45px;
}
